<app-menu></app-menu>
<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
        <div class="card-body">
            <form class="form-group">
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="form-group">
                    <label for="text">User Name :</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username"
                        placeholder="Enter User Name" name="username" required minlength="8">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" [(ngModel)]="password" id="password"
                        placeholder="Enter password" name="password" required
                        ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}/">
                    <div *ngIf="password" ng-messages="password.$error">
                        <div ng-message="pattern">Password should be atleast 8 characters long
                            and should contain atleast one upper case letter, one lower case letter, one number,one character and one special
                            character
                        </div>
                    </div>
                </div>
                <button (click)=handleLogin() class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>