<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand">Minions</div>
        <ul class="navbar-nav">
            <li><a *ngIf="!isLoggedIn" class="nav-link" href="/home">Home</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
        <table>
            <tr>
                <ul class="navbar-nav navbar-collapse justify-content-end">
                    <li>
                        <a class="nav-link" (click)="refreshPage()">Refresh</a>
                    </li>
                    <li>
                        <a *ngIf="isLoggedIn" class="nav-link" href="/settings">Settings</a>
                    </li>
                    <li>
                        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Signout</a>
                    </li>
                </ul>
            </tr>
            <tr>
                <ul class="navbar-nav navbar-collapse justify-content-end">
                    <li>
                        <a *ngIf="isLoggedIn" class="nav-link">{{welcomeMessage}}</a>
                    </li>
                    <li>
                        <a *ngIf="!isLoggedIn" class="nav-link" href="/login">Login</a>
                    </li>
                    <li>
                        <a *ngIf="!isLoggedIn" class="nav-link" href="/register">Signup</a>
                    </li>
                </ul>
            </tr>
        </table>
        </ul>
    </nav>
</header>